<h1>Sign up</h1>

<div id="clerk-sign-up"></div>

<script>
  window.addEventListener("clerk:loaded", function() {
    Clerk.mountSignUp(document.getElementById("clerk-sign-up"), {
      afterSignUpUrl: "<%= events_url %>"
    });
  });
</script>
